.menu-item {
  border-bottom: solid 0.5px #dfe0e3;
  font-size: 12px;
  margin-top: 5px;
  margin-left: 0px;
}

//desktop
@media only screen and (min-width: 600px) {
  .menu-item {
    padding: 12px;
    border-radius: 20px;
    border: solid 0.5px #dfe0e3;
    margin: 20px 0px 0px 0px;
    height: 80%;
  }

  .tag-container {
    margin-left: 20px;
    bottom: 0px;
    position: absolute;

    &.bg-tint {
      position: absolute;
      bottom: 0px;
    }
  }

  .editor-margin {
    position: relative;
  }

  .icon-overlay {
    display: inline-block;
    position: absolute;
    z-index: 10;
  }

  .image-icon {
    top: 22px;
    left: 22px;
  }

  .trash-icon {
    left: 40px;
    top: 5px;
  }
}

h1 {
  font-size: 14px;
  font-weight: 500;
}

.logo {
  position: relative;
  display: flex;
  max-width: 60px;
  max-height: 60px;
  margin-bottom: 1em;
  margin-right: 10px;

  .icon {
    object-fit: cover;
    float: left;
    border-radius: 10px;
    overflow: hidden;
    align-self: flex-start;
  }
}

.img-description {
  display: flex;

  .description {
    display: block;
    margin-bottom: 10px;
  }

  .menu-price {
    overflow: hidden;
    display: block;

    .price {
      float: right;
      display: block;
    }

    .item {
      float: left;
    }
  }
}

.logo-description {
  width: 80%;
}
.no-logo-description {
  width: 100%;
}
