.menu-item {
  border-bottom: solid 0.5px #dfe0e3;
  font-size: 12px;
  margin-top: 5px;
}

@media only screen and (min-width: 600px) {
  .menu-item {
    padding: 1em;
    border-radius: 20px;
    border: solid 0.5px #dfe0e3;
    margin: 20px 0px 20px 0em;
    height: 80%;
  }
}

h1 {
  font-size: 14px;
  font-weight: 500;
}

.form {
  margin-bottom: 1em;
}

.logo {
  width: 20%;
  display: flex;

  .icon {
    object-fit: cover;
    float: left;
    margin-right: 1em;
    height: 4em;
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
    object-fit: cover;
  }
}

.img-description {
  display: flex;

  .description {
    display: block;
    margin-bottom: 10px;
    width: 80%;
  }

  .menu-price {
    overflow: hidden;
    display: block;

    .price {
      float: right;
      display: block;
    }

    .item {
      float: left;
    }
  }

  .item-description {
    font-weight: 300;
    color: rgba(26, 24, 36, 0.5);
  }
}

.img-display {
  width: 90%;
  overflow: hidden;
  margin: 0 auto;
  justify-content: center;
}

.modal-container {
  background: transparent;
}
