.menu-item {
  border-bottom: solid 0.5px #dfe0e3;
  font-size: 12px;
  margin-top: 5px;
  margin-left: 0px;
}

//desktop
@media only screen and (min-width: 600px) {
  .menu-item {
    padding: 12px 12px 12px 12px;
    border-radius: 20px;
    border: solid 0.5px #dfe0e3;
    margin: 20px 0px 0px 0px;
    height: 80%;
  }

  .tag-container {
    margin-left: 20px;
    bottom: 60px;
    position: absolute;
  }

  .editor-margin {
    position: relative;
    padding-bottom: 60px;
  }
}

.form {
  margin-bottom: 0.5em;
}

h1 {
  font-size: 14px;
  font-weight: 500;
}

.logo {
  position: relative;
  width: 18%;
  display: flex;
  margin-bottom: 1em;
  margin-right: 10px;

  .icon {
    position: relative;
    object-fit: cover;
    float: left;
    border-radius: 10px;
    overflow: hidden;
    align-self: flex-start;
  }
}

.img-description {
  display: flex;

  .description {
    display: block;
    margin-bottom: 10px;
  }

  .menu-price {
    overflow: hidden;
    display: block;

    .price {
      float: right;
      display: block;
    }

    .item {
      float: left;
    }
  }

  .item-description {
    font-weight: 300;
    color: rgba(26, 24, 36, 0.5);
    margin: 2.5px 0px 2.5px 0px;
  }
}

.logo-description {
  width: 80%;
}
.no-logo-description {
  width: 100%;
}

.icon-overlay {
  position: absolute;
  top: 10%;
  left: 40%;
  z-index: 10;
}
