<div *ngIf="menu">
  <h1>All Pickeasy Menus</h1>
  <span>
    <div>
      <button [disabled]="page == 1" (click)="previousPage()">previous</button>
      <label>{{ page }}</label>
      <button (click)="nextPage()">next</button>
    </div>
    <div>
      <button [disabled]="limit == 5" (click)="lowerLimit()">-</button>
      <label>{{ limit }}</label>
      <button (click)="addLimit()">+</button>
    </div>
  </span>
  <p><a routerLink="/admin/create">Create new Menu!</a></p>
  <div *ngFor="let slug of menu.menus">
    <p>
      <a routerLink="/admin/menus/{{ slug }}">{{ slug }}</a>
    </p>
  </div>
</div>
