<div class="menu-view" [ngClass]="{ space: editMode }">
  <div class="view inline">
    <quill-view-html
      *ngIf="!editMode && description"
      [content]="description"
      theme="snow"
      [ngStyle]="{
        'font-size': '30px'
      }"
    ></quill-view-html>
    <button class="btn0 align-top" *ngIf="!editMode && hasPermission" (click)="edit()">
      <fa-icon [icon]="editIcon"></fa-icon>
    </button>
  </div>
  <quill-editor
    *ngIf="editMode"
    [(ngModel)]="description"
    [styles]="{
      'font-size': '16px'
    }"
    class="editor"
  >
  </quill-editor>
  <button class="float-right btn4" *ngIf="editMode" (click)="save()"><fa-icon [icon]="saveIcon"></fa-icon> Save</button>
</div>
