.menu-view {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 3em;
  & button {
    margin-left: 2em;
    margin-top: 0.5em;
  }
}

.view {
  padding-top: 2em;
}

::ng-deep {
  .view .ql-editor{
    font-size: 30px;
  }
}
