fa-icon {
  float: right;
  display: inline-block;
  color: green;
}

h1 {
  font-size: 16px;
  font-weight: 500;
}

h2 {
  font-size: 16px;
  font-weight: 100;
  margin-bottom: 0px;
  display: inline-block;
}

p {
  font-size: 16px;
  font-weight: 100;
  color: #8c8b91;
  margin-bottom: 0px;
}

::ng-deep {
  .mat-list-item-content {
    border-bottom: 1px solid #cdcdd2 !important;
  }

}
