.desktop-description {
  background: transparent;
  margin: 0em 3em 1em 3em;
  border-radius: 40px;
  padding: 1em;
  width: 50%;

  .desc {
    margin-top: 3em;
    color: white;
    font-size: 36px;
    font-weight: 500;
  }
}
