.section-collapsed {
  margin: 10px 10px 10px 10px;
  padding: 4px 13px 9px 10px;
  border-radius: 8px;
  background-color: #ffffff;
  position: relative;
  display: flex;
}

.grip-handle {
  margin-right: 1em;

  & fa-icon {
    color: #4c28ff;
  }

  &:hover {
    cursor: grab;
  }
}

.hide-overflow {
  overflow: hidden
}

.section-title {
  display: flex;
  align-items: center;
}

::ng-deep {
   .section-title .ql-editor {
        font-size: 20px;
        font-weight: 600;
        vertical-align: middle;
        color: black;
        overflow: hidden;
        & p {
          font-weight: 600;
        }
      }
}


.icons {
  margin-left: auto;
}

.section-collapsed-edit {
  margin: 10px 10px 20px 10px;
  padding: 4px 13px 9px 10px;
  border-radius: 8px;
  position: relative;

  & .btn-container {
    margin-top: 10px;

    & button {
      margin-right: 5px;
      padding: 8px 30px 8px 30px;
    }
  }
}
