h1 {
  font-size: 15px;
  padding-top: 2em;
}

p{
  font-size: 10px;
}

footer{
  border-radius: 13px 13px 0px 0px;
  background-image: linear-gradient(66deg, #e21f70, #ff4d2c 100%);
  color: white;
  text-align: center;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
}

