.section {
  margin: 0em 1em 0em 1em;
  padding-top: 4em;
}

@media only screen and (min-width: 600px) {
  .section {
    margin-top: 2em;
  }
}

h1 {
  font-size: 22px;
  font-weight: 600;
}

p {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 1em;
}

.description-container {
  margin-bottom: 2em;
  margin-left: 0;
}

.section-description {
  font-size: 16px;
  margin: 2.5px 0px 2.5px 0px;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.rearrange {
  border-bottom: solid 0.5px #dfe0e3;
  margin-top: 5px;
  margin-left: 20px;
}
