<div *ngIf="!rearrangeMode" class="section">
  <div>
    <button *ngIf="!editMode && hasPermission" (click)="edit()">Edit</button>
    <button *ngIf="editMode" (click)="sendRequest()">Save</button>
    <button *ngIf="hasPermission" (click)="addMenuItem()">Add Menu Item</button>
  </div>
  <h1 *ngIf="!editMode">{{ section.name }}</h1>
  <input *ngIf="editMode" type="text" [(ngModel)]="section.name" />
  <div class="description-container">
    <p *ngIf="!editMode">{{ section.subtitle }}</p>
    <input *ngIf="editMode" type="text" [(ngModel)]="section.subtitle" />
    <quill-view-html *ngIf="!editMode" [content]="section.description" theme="snow"></quill-view-html>
    <quill-editor *ngIf="editMode" [(ngModel)]="section.description"></quill-editor>
  </div>
  <div
    class="row"
    cdkDropList
    [cdkDropListDisabled]="!editMode"
    [cdkDropListData]="section.menu_items"
    (cdkDropListDropped)="drop($event)"
  >
    <app-menu-item
      cdkDrag
      *ngFor="let item of section.menu_items"
      id="{{ item._id }}"
      [item]="item"
      class="col-md-4 col-sm-6 col-12"
      [slug]="slug"
      [hasPermission]="hasPermission"
    ></app-menu-item>
  </div>
</div>
<div *ngIf="rearrangeMode" class="rearrange">
  <h1>{{ section.name }}</h1>
  <quill-view-html [content]="section.description" theme="snow"></quill-view-html>
</div>
