.section {
  margin: 0em 1em 0em 1em;
  padding-top: 4em;
}

@media only screen and (min-width: 600px) {
  .section {
    margin-top: 2em;
  }
}

h1 {
  font-size: 22px;
  font-weight: 600;
}

p {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 1em;
}

.description-container {
  margin-bottom: 2em;
  margin-left: 0;
}

.section-description {
  font-size: 16px;
  margin: 2.5px 0px 2.5px 0px;
}

.rearrange {
  border-bottom: solid 0.5px #dfe0e3;
  margin-top: 5px;
  padding-left: 20px;
  overflow-x: hidden;
}
