<div class="section">
  <div>
    <button *ngIf="!editMode" (click)="editMode = true">Edit</button>
    <button *ngIf="editMode" (click)="sendRequest()">Send</button>
  </div>
  <h1 *ngIf="!editMode">{{ section.name }}</h1>
  <input *ngIf="editMode" type="text" [(ngModel)]="section.name" />
  <div class="description-container">
    <p *ngIf="!editMode">{{ section.subtitle }}</p>
    <input *ngIf="editMode" type="text" [(ngModel)]="section.subtitle" />
    <p *ngFor="let description of descriptions; let i = index" class="section-description">
      {{ description }}
    </p>
    <input />
  </div>
  <div
    class="row"
    cdkDropList
    [cdkDropListDisabled]="!editMode"
    [cdkDropListData]="section.menu_items"
    (cdkDropListDropped)="drop($event)"
  >
    <app-menu-item
      cdkDrag
      *ngFor="let item of section.menu_items"
      [item]="item"
      class="col-md-4 col-sm-6 col-12"
    ></app-menu-item>
  </div>
</div>
