<div class="section">
  <h1>{{ section.name }}</h1>
  <div class="description-container">
    <p>{{ section.subtitle }}</p>
    <p *ngFor="let description of descriptions" class="section-description">
      {{ description }}
    </p>
  </div>
  <div class="row" cdkDropList [cdkDropListData]="section.menu_items" (cdkDropListDropped)="drop($event)">
    <app-menu-item
      cdkDrag
      *ngFor="let item of section.menu_items"
      [item]="item"
      class="col-md-4 col-sm-6 col-12"
    ></app-menu-item>
  </div>
</div>
