<div class="tag" *ngIf="tagDisplay" [style.background-color]="tagDisplay.backgroundColor">
  <div *ngIf="!editable">
    <span *ngFor="let icon of tagDisplay.icons">
      <fa-icon [icon]="icon"></fa-icon>
    </span>
    {{ tagDisplay.text }}
  </div>
  <div (click)="edit()">
    <i class="fas fa-heart"></i>
  </div>
  <fa-icon *ngIf="!editable && hasPermission" [icon]="editIcon" (click)="edit()"></fa-icon>
  <input class="edit" [(ngModel)]="tag.text" *ngIf="editable" (change)="(tag.text)" />
  <fa-icon *ngIf="editable && hasPermission" [icon]="saveIcon" (click)="onClick()"></fa-icon>
</div>
