.tag {
  background: black;
  color: white;
  border-radius: 20px;
  border-style: none;
  padding: 5px 18px;
  font-size: 10px;
  text-align: center;
  margin: 0px 5px 10px 0px;
  display: inline-block;

  fa-icon {
    margin-right: 5px;
  }
}
