.sign-in {
  display: block;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
  height: 65px;
  border-radius: 10px;
  border: solid 1px #979797;
  background-color: #d8d8d8;
  color: black;
}

.onboard {
  background: #f0f3f5;
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
}


.container {
  background: #f0f3f5;
}

.email-password{
  margin-bottom: 10px;
  width: 100%;
  border-radius: 10px;
  border: solid 1.2px #f0f3f5;
  background-color: #ffffff;
  height: 52px;
  padding-left: 20px;
}

.error-message{
  text-align: center;
  color: red;
}
