<div class="col-md-6 offset-md-3 mt-5">
  <div class="card">
    <h4 class="card-header">Create New Restaurant</h4>
    <div class="card-body">
      <form [formGroup]="restaurantBody" (submit)="submit()">
        <div class="form-group">
          <label>Restaurant name</label>
          <input type="text" formControlName="name" class="form-control" />
        </div>
        <div class="form-group">
          <label>Restaurant Description</label>
          <input type="text" formControlName="description" class="form-control" />
        </div>
        <div class="form-group">
          <label>Restaurant Image</label>
          <input type="text" formControlName="image" class="form-control" />
        </div>
        <div class="form-group">
          <label>Restaurant Slug</label>
          <input type="text" formControlName="slug" class="form-control" />
        </div>
        <button class="btn btn-primary">Create</button>
        <form [formGroup]="menuBody" (submit)="import()">
          <h1>Import a menu</h1>
          <div class="form-group">
            <label>Menu name</label>
            <input type="text" formControlName="name" class="form-control" />
            <form>
              <div class="form-group">
                <label for="csv-upload">Import menu csv</label>
                <input type="file" class="form-control-file" id="csv-upload" (change)="onChange($event)" />
              </div>
            </form>
            <button class="btn btn-primary" >Import</button>
          </div>
        </form>
      </form>
    </div>
  </div>
</div>
