[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
mongoengine = "==0.20.0"
marshmallow = "===3.3.0"
flask-marshmallow = "===0.10.1"
marshmallow-sqlalchemy = "===0.21.0"
flask-apispec = "===0.8.8"
apispec = "===3.3.0"
requests = "==2.21.0"
celery = "==4.4.2"
redis = "===3.4.1"
gunicorn = "==20.0.4"
sentry-sdk = {extras = ["flask"], version = "*"}
Flask = "==1.0.2"
Flask-Cors = "*"
pre-commit = "~=2.4.0"
black = "~=19.10b0"
pytest = "==6.0.1"
flake8 = "==3.8.3"
mongomock = "==3.20.0"

[requires]
python_version = "3.8"
