<div class="tag" *ngIf="tagDisplay" [style.background-color]="tagDisplay.backgroundColor">
  <div *ngIf="!editable">
    <fa-icon *ngIf="!editable && hasPermission" [icon]="editIcon" (click)="edit()"></fa-icon>
    <span *ngFor="let icon of tagDisplay.icons">
      <fa-icon [icon]="icon"></fa-icon>
    </span>
    {{ tagDisplay.text }}
  </div>
  <div (click)="edit()"></div>
  <input class="edit" [(ngModel)]="tag.text" [style.width.ch]="tag.text.length + 1" *ngIf="editable" />
  <fa-icon *ngIf="editable && hasPermission" [icon]="saveIcon" (click)="onClick()"></fa-icon>
</div>
