.my-nav {
  padding: 12px;
}

button {
  padding-left: 30px;
  padding-right: 30px;
  height: 39px;
}

.vl {
  border-left: 1px solid rgba(196, 208, 217, 0.5);
  height: 39px;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}

.title {
  color: #4c28ff;
  font-size: 33px;
  margin: 0;
}

.save {
  margin-right: 20px;
}

