<app-signup></app-signup>
<div class="my-nav desktop">
  <img src="assets/group-2@3x.png" width="200" height="39" class="d-inline-block align-top" alt="" />
  <div class="vl"></div>

  <h1 class="d-inline-block align-top title">{{ restaurantName }}</h1>

  <div class="float-right d-inline-block">
    <button class="align-top"><fa-icon [icon]="mobileIcon"></fa-icon>Mobile Preview</button>
    <div class="vl"></div>
    <button (click)="publish()" class="publish btn1 align-top">{{ isPublic ? 'Un-publish' : 'Publish' }}</button>
  </div>
</div>
