
.container {
  background: #f0f3f5;

  .container-body {
    background: #f0f3f5;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
}

.form-input {
  margin-top: 5%;
  margin-bottom: 5%;
}

