<!--<div>-->
<!--  <div class="image-modal">-->
<!--    <img src={{image}}>-->
<!--  </div>-->
<!--</div>-->
<ng-template #content let-modal>
  <img
    src="https://lh3.googleusercontent.com/proxy/cCuIH2xhpz8oq1TKx8BMoaEkWRS3dPzb5WBAko_qcx6iMRGoqCbopThU0WjEm7PZwPl0YWil47JIRIzCBnaPwBIwzWMNJ6uMKwrcDY9p-yjgoor1Dryv9EBYUDhKs9Lh"
  />
  <button (click)="modal.dismiss()">close</button>
</ng-template>

<!--<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>-->
