<div class="scrolling-wrapper sticky-top" [ngClass]="{ 'mini-scroll': miniScroll }" id="wrapper">
  <button class="btn1 manage-sections" (click)="manageSections()">Manage Sections</button>
  <button
    class="menu-section"
    *ngFor="let section of sections; let i = index"
    (click)="scrollService.scrollToSection(section._id)"
    [ngClass]="{ selected: i === currentSection, 'not-selected': i !== currentSection }"
    id="{{ section._id + ' button' }}"
  >
    <quill-view-html [content]="section.name"></quill-view-html>
    <p class="section-description">{{ section.subtitle }}</p>
  </button>
</div>
