

<div *ngIf="menu">
  <div class="head" id="header">
    <h1 >{{ menu.name }}</h1>
    <div class="scrolling-wrapper">
      <button *ngFor="let section of menu.sections" (click)="scrollToSection(section.name)">
        {{ section.name }}
      </button>
    </div>
  </div>
  <div class="rectangle">
    <div *ngFor="let section of menu.sections">
      <app-section [section]="section" id="{{ section.name }}"></app-section>
    </div>
  </div>
  <app-footer></app-footer>
</div>
<router-outlet></router-outlet>

