.rectangle{
  min-height: 100vh;
  margin-left: 1em;
}

.head{
  background: #ffffff;
  box-shadow: 0 1.5px 6px 0 rgba(0, 0, 0, 0.08);
  position: sticky ;
  top: 0;
  width: 100%;
  overflow: hidden;
}

.top{
  padding-top: 3em;
}

h1{
  font-size: 20px;
  margin-left: 1em;
  margin-bottom: 0.5em;
  font-weight: 400;
  padding-top: 1em;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  button{
    background: black;
    color: white;
    border-radius: 20px;
    border-style: none;
    padding: 7px;
    text-align: center;
    margin: 3px 6px 20px 20px;
    display: inline-block;
  }
}



