.rectangle{
  min-height: 100vh;
  margin-left: 20px;
}

.head{
  background: #ffffff;
  border-width: thin;
  position: sticky ;
  top: 0;
  width: 100%;
  overflow: hidden;
  transition: all 0.3s;

}

h1{
  font-size: 30px;
  margin-left: 20px;
  margin-bottom: 0.5em;
  font-weight: 600;
  padding-top: 1em;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  button{
    padding: 14px;
    margin: 3px 6px 20px 0px;
    border: none;
    opacity: 0.2;
    font-size: 24px;
    font-weight: 600;
    color: #1a1824;
    background-color: #ffffff;
  }
}

p{
  margin-left: 20px;
  font-weight: 300;
  margin-bottom: 10px;
  color: #8c8b91;
}

.selected{
  color: black;
  font-size: 12px;
}

.bio{
  border-bottom:  solid rgba(196, 208, 217, 0.5);
  border-width: thin;
  border-radius: 20px 20px 0px 0px;
  background: #ffffff;
}


.image{
  padding: 20%;
}
