<router-outlet></router-outlet>
<div *ngIf="menu">
  <div class="head" [ngClass]="{ top: showImage }" id="header">
    <div>
      <h1>{{ menu.name }}</h1>
      <p>{{menu.description}}</p>
    </div>
    <div class="scrolling-wrapper">
      <button *ngFor="let section of menu.sections" (click)="scrollToSection(section.name)">
        {{ section.name }}
      </button>
    </div>
  </div>
  <div class="rectangle">
    <div *ngFor="let section of menu.sections">
      <app-section [section]="section" id="{{ section.name }}"></app-section>
    </div>
  </div>
  <app-footer></app-footer>
</div>
