.rectangle{
  border: solid 0.5px #979797;
  background-image: linear-gradient(to bottom, #ffffff 57%, #ced6e7);
  height: 100vh;
}

.head{
  background: white;
}

h1{
  font-size: 20px;
  margin: 2em;
}

button{
  background: black;
  color: white;
  border-radius: 20px;
  border-style: none;
  padding: 10px;
  text-align: center;
  margin: 1%;
  display:inline-block;
}
