<div *ngIf="menu" class="rectangle">
  <div class="head">
    <div *ngIf="showImage">
    </div>
    <h1 >{{ menu.name }}</h1>
    <div class="scrolling-wrapper">
      <button *ngFor="let section of menu.sections" (click)="scrollToSection(section.name)">
        {{ section.name }}
      </button>
    </div>
  </div>
  <div *ngFor="let section of menu.sections">
    <app-section [section]="section" id="{{ section.name }}"></app-section>
  </div>
  <app-footer></app-footer>
</div>
<router-outlet></router-outlet>

