<div *ngIf="viewable">
  <div *ngIf="restaurant">
    <app-navbar
      *ngIf="hasPermission"
      [previewMode]="previewMode"
      (viewEmitter)="updatePreviewMode($event)"
      [restaurantName]="restaurant.name"
    ></app-navbar>

    <app-restaurant *ngIf="!previewMode" [restaurant]="restaurant"></app-restaurant>
    <app-preview *ngIf="previewMode" [slug]="slug"></app-preview>
  </div>

  <app-restaurant-loading *ngIf="!restaurant"></app-restaurant-loading>
  <app-menu-loading *ngIf="!restaurant"></app-menu-loading>
</div>
<div *ngIf="!viewable">
  <h1>Restaurant is private or does not exist</h1>
</div>
