<div *ngIf="viewable">
  <app-navbar
    (restaurantEmitter)="updateRestaurant($event)"
    *ngIf="hasPermission && restaurant"
    [slug]="slug"
    [restaurantName]="restaurant.name"
    [isPublic]="restaurant.public"
    [previewMode]="previewMode"
    (viewEmitter)="updatePreviewMode($event)"
  ></app-navbar>
    <app-restaurant
      *ngIf="restaurant && !previewMode"
      [restaurant]="restaurant"
      [slug]="slug"
      [hasPermission]="hasPermission"
    ></app-restaurant>
  <app-preview *ngIf="previewMode" [slug]="slug"></app-preview>
</div>
<div *ngIf="!viewable">
  <h1>Restaurant is private or does not exist</h1>
</div>
