<h1>User Management</h1>
<p><a routerLink="/admin/menus">&lt; Back to admin</a></p>

<div class="toolbar">
  <button (click)="goToCreateUser()">+ Create New User</button>

  <div class="spacer"></div>

  <button [disabled]="current_page <= 1" (click)="reloadWithParams({ limit: per_page, page: current_page - 1 })">
    &lt; Previous Page
  </button>
  <span>{{ current_page }} / {{ total_page }}</span>
  <button
    [disabled]="current_page >= total_page"
    (click)="reloadWithParams({ limit: per_page, page: current_page + 1 })"
  >
    Next Page &gt;
  </button>

  <div class="spacer"></div>

  <button [disabled]="this.per_page <= 5" (click)="reloadWithParams({ limit: per_page - 5, page: current_page })">
    -
  </button>
  <span>{{ per_page }} per page</span>
  <button (click)="reloadWithParams({ limit: per_page + 5, page: current_page })">+</button>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">email</th>
      <th scope="col">phone number</th>
      <th scope="col">firebase id</th>
      <th scope="col">restaurant</th>
      <th scope="col">is admin</th>
    </tr>
  </thead>
  <tbody *ngFor="let user of users.users">
    <tr>
      <td>{{ user.email }}</td>
      <td>{{ user.phone_number }}</td>
      <td>{{ user.firebase_id }}</td>
      <td>{{ user.restaurants.join(', ') }}</td>
      <td>{{ user.is_admin }}</td>
    </tr>
  </tbody>
</table>
