/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  font-family: Poppins;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  scroll-behavior: smooth;
}

.ql-editor {
  padding: 0 0 0 0;

  & p {
    font-weight: 100;
  }

  & em {
    font-style: italic;
  }

  & strong {
    font-weight: 700;
  }
}

.modal-content {
  background-color: transparent;
  border: none;
}
