/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import '~bootstrap/dist/css/bootstrap.min.css';

* {
  margin: 0;
  font-family: Poppins;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  scroll-behavior: smooth;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
