/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

$tint-color: #ee3353;

* {
  margin: 0;
  font-family: Poppins;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
}

//canvas {
//  width: 100%;
//  height: 100vh;
//}

input:focus, textarea:focus, button:focus {
  outline: none;
}

.ql-container {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.ql-toolbar {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
   & .ql-snow {
     border-top: solid 1.2px #f0f3f5;
     border-left: solid 1.2px #f0f3f5;
     border-right: solid 1.2px #f0f3f5;
     border-bottom: none;
   }
}

.editor {

  & .ql-toolbar {
    background-color: white;
    border-top: solid 1.2px #f0f3f5;
    border-left: solid 1.2px #f0f3f5;
    border-right: solid 1.2px #f0f3f5;
    border-bottom: none;
  }

  & .ql-editor {
    margin-left: 15px;
  }

  & .ql-container {
    border-left: solid 1.2px #f0f3f5;
    border-right: solid 1.2px #f0f3f5;
    border-bottom: solid 1.2px #f0f3f5;
    background-color: white;
  }
}

.ql-editor {
  padding: 0 0 0 0;
  position: relative;

  & p {
    font-weight: 100;
  }

  & em {
    font-style: italic;
  }

  & strong {
    font-weight: 700;
  }

  &.ql-blank::before {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    left: 0;
    right: 0;
  }

  //As a child of a Menu Item and not in edit mode
  .menu-item:not(.edit-body) & {
    overflow: hidden;
    max-height: 2.95em; //specifically to accomodate Chinese char x height
    width: 90%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    * {
      cursor: pointer;
    }
  }

  .menu-item.expand & {
    max-height: unset;
    overflow: unset;
    display: block;
  }

}

.inline {

  & .ql-editor {
    display: inline-block;
  }

  & .ql-container{
    display: inline-block;
  }
}

.modal-content {
  background-color: transparent;
  border: none;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

button {
  display: inline-block;
  color: white;
  background-color: black;
  font-family: inherit;
  font-size: 100%;
  border: 0;
  padding: 5px;
  border-radius: 8px;
  margin: 2px;

  &.bg-tint {
    background-color: $tint-color;
  }

  &.bg2-tint {
    background-color: #4c28ff;;
  }

  &.round {
    width: 26px;
    height: 26px;
    border-radius: 50px;
  }

  fa-icon {
    margin: 3px;
  }
}
// Global button styles
.btn0 {
  background-color: #f0f3f5;
  color: #4c28ff;
}

.btn1 {
  background-color: #4c28ff;
  color: white;
}

.btn2 {
  background-color: #ffffff;
  color: #4c28ff;
}

.btn3 {
  background-color: #ffffff;
  color: black;
}

.btn4 {
  background-color: #f0f3f5;
  color: black;
}

//mobile
@media only screen and (max-width: 600px) {
  .desktop {
    display: none !important;
  }
}

//desktop
@media only screen and (min-width: 600px) {
  .mobile {
    display: none !important;
  }
}

// modal

.title {
  background: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  & h1 {
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 25px;
    text-align: center;
  }
}

.next-step {
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.next-button {
  border-radius: 8px;
  background-color: #4c28ff;
  width: 30%;
}

.cancel-button {
  float: right;
  border-radius: 8px;
  color: #1a1824;
  background-color: #f0f3f5;
  width: 20%;
}

.container {
  background: #f0f3f5;
}
