<app-img-view-modal image="{{ item.image }}"></app-img-view-modal>
<app-img-form-modal [slug]="slug" [itemId]="item._id" (itemEmitter)="setImage($event)"></app-img-form-modal>
<div class="menu-item">
  <div>
    <button *ngIf="!editMode && hasPermission" class="edit-button desktop" (click)="edit()">
      <fa-icon [icon]="faPen"></fa-icon>
    </button>
    <button *ngIf="editMode" class="discard-button desktop" (click)="discard()">Discard</button>
    <button *ngIf="editMode" class="save-button desktop" (click)="sendRequest()">
      <fa-icon [icon]="saveIcon"></fa-icon>
    </button>
    <button *ngIf="hasPermission" class="desktop" (click)="remove()"><fa-icon [icon]="deleteIcon"></fa-icon></button>
  </div>
  <div class="img-description">
    <div class="logo" (click)="showImage()">
      <img class="img-fluid icon desktop" *ngIf="imageUrl" src="{{ imageUrl }}" />
      <fa-icon
        *ngIf="hasPermission && item.image !== 'assets/loading.gif'"
        class="icon-overlay image-icon desktop"
        [icon]="imageIcon"
        size="lg"
        (click)="cropImage($event)"
      ></fa-icon>
      <fa-icon
        *ngIf="item.image"
        [icon]="deleteIcon"
        size="lg"
        class="icon-overlay trash-icon desktop"
        (click)="delete($event)"
      ></fa-icon>
      <img />
      <img class="mobile img-fluid icon" src="{{ item.image }}" />
    </div>
    <div class="description" [ngClass]="item.image ? 'logo-description' : 'no-logo-description'">
      <div class="menu-price">
        <h1 *ngIf="!editMode" class="item">{{ item.name }}</h1>
        <h1 *ngIf="!editMode" class="price">{{ item.price }}</h1>
        <input *ngIf="editMode" type="text" class="item" [(ngModel)]="item.name" />
        <input *ngIf="editMode" type="text" class="price" [(ngModel)]="item.price" />
      </div>
      <div class="editor-margin">
        <quill-view-html
          *ngIf="!editMode"
          [content]="item.description"
          [style]="{
            color: 'rgba(26, 24, 36, 0.5)',
            margin: '2.5px 0px 2.5px 0px'
          }"
          theme="snow"
        >
        </quill-view-html>
        <quill-editor [modules]="modules" *ngIf="editMode" [(ngModel)]="item.description"> </quill-editor>
      </div>
    </div>
  </div>
<!--  <span class="tag-container">-->
<!--    <app-tags-->
<!--      *ngFor="let tag of item.tags; let i = index"-->
<!--      [tag]="tag"-->
<!--      [hasPermission]="hasPermission"-->
<!--      (outputTagText)="updateTags($event, i)"-->
<!--    >-->
<!--    </app-tags>-->
<!--    <button class="bg-tint round desktop" (click)="addTag()" *ngIf="hasPermission">-->
<!--      <fa-icon [icon]="faPlus"></fa-icon>-->
<!--    </button>-->
<!--  </span>-->
</div>
