<button class="left desktop" *ngIf="!rearrangeMode && hasPermission" (click)="rearrange()">
  Rearrange Sections
</button>
<button class="left desktop" *ngIf="rearrangeMode && hasPermission" (click)="saveSections()">Save</button>
<app-scrolling-component
  class="desktop"
  [sections]="menu.sections"
  [miniScroll]="miniScroll"
></app-scrolling-component>
<div cdkDropList [cdkDropListData]="menu.sections" (cdkDropListDropped)="drop($event)">
  <div
    class="section-box"
    *ngFor="let section of menu.sections; let i = index"
    cdkDrag
    [cdkDragDisabled]="!rearrangeMode"
  >
    <app-section
      [rearrangeMode]="rearrangeMode"
      [hasPermission]="hasPermission"
      [section]="section"
      [slug]="slug"
      id="{{ section._id }}"
    >
    </app-section>
  </div>
</div>
