<ng-template #section let-modal>
  <div class="title">
    <h1>Manage Menu sections</h1>
  </div>

  <div class="container">
    <div class="section-list" cdkDropList [cdkDropListData]="mySections" (cdkDropListDropped)="drop($event)">
      <app-collapsed-section
        *ngFor="let section of mySections; let index = i"
        [section]="section"
        [index]="index"
        (indexEmitter)="deleteSection($event)"
        class="section-drag"
      >
      </app-collapsed-section>
    </div>

    <div>
      <button class="new-section" (click)="newSection()">
        <fa-icon [icon]="addIcon"></fa-icon>
        Add New Section
      </button>
    </div>
  </div>

  <div class="next-step">
    <button (click)="modal.close()">Cancel</button>
    <button (click)="save(modal)">Save</button>
  </div>
</ng-template>
