<div class="section">
  <div class="view-edit inline" *ngIf="!editMode">
    <quill-view-html
      [content]="section.name"
      [style]="{
        'font-size': '22px',
        'font-weight': '600'
      }"
    >
    </quill-view-html>
    <button class="align-top desktop btn0" *ngIf="!editMode && hasPermission" (click)="edit()">
      <fa-icon [icon]="editIcon"></fa-icon>
    </button>
    <p>{{ section.subtitle }}</p>
  </div>
  <div class="view-edit" *ngIf="editMode">
    <p class="label">Section Name*</p>
    <quill-editor class="editor" [(ngModel)]="section.name" [placeholder]="''"></quill-editor>
    <p class="label">Section Subtitle</p>
    <input class="editor" type="text" [(ngModel)]="section.subtitle" />
    <p class="label">Section Description</p>
    <quill-editor class="editor" [(ngModel)]="section.description" [placeholder]="''"></quill-editor>
    <button class="align-top btn1 desktop" (click)="editSection()">Save</button>
  </div>
  <div class="description-container" *ngIf="!editMode">
    <quill-view-html [content]="section.description" theme="snow"></quill-view-html>
  </div>
  <div class="drag-prompt" *ngIf="editMode">
    <p><fa-icon [icon]="faGrip"></fa-icon>Drag and drop to rearrange the items in this section.</p>
  </div>
  <div
    class="row row-item"
    cdkDropList
    id="{{ 'd-list-' + section._id }}"
    [cdkDropListConnectedTo]="sectionLists"
    (cdkDropListDropped)="drop($event)"
  >
    <app-itemv2
      *ngFor="let item of section.menu_items"
      id="{{ item._id }}"
      [item]="item"
      [sectionEdit]="editMode"
      class="col-md-4 col-sm-6 col-12"
      (itemDeleteEmitter)="deleteItem($event)"
      (itemEmitter)="this.saveSectionEmitter.emit()"
    >
    </app-itemv2>
    <div *ngIf="hasPermission" class="col-md-4 col-sm-6 col-12 item-container desktop">
      <div class="new-item">
        <button (click)="addMenuItem()" class="btn2 new-button">
          <fa-icon [icon]="faPlus"></fa-icon>Add new Menu Item
        </button>
      </div>
    </div>
  </div>
</div>
