<div class="section">
  <div>
    <button class="desktop" *ngIf="!editMode && hasPermission" (click)="edit()">
      <fa-icon [icon]="editIcon"></fa-icon>
    </button>
    <button class="desktop" *ngIf="editMode" (click)="editSection()">Save</button>
  </div>

  <h1 *ngIf="!editMode">{{ section.name }}</h1>
  <input *ngIf="editMode" type="text" [(ngModel)]="section.name" />
  <div class="description-container">
    <p *ngIf="!editMode">{{ section.subtitle }}</p>
    <input *ngIf="editMode" type="text" [(ngModel)]="section.subtitle" />
    <quill-view-html *ngIf="!editMode" [content]="section.description" theme="snow"></quill-view-html>
    <quill-editor *ngIf="editMode" [(ngModel)]="section.description"></quill-editor>
  </div>
  <div class="row">
    <app-itemv2
      *ngFor="let item of section.menu_items"
      id="{{ item._id }}"
      [item]="item"
      class="col-md-4 col-sm-6 col-12"
      [slug]="slug"
      [menuName]="menuName"
      [hasPermission]="hasPermission"
    ></app-itemv2>

    <div class="col-md-4 col-sm-6 col-12 item-container desktop">
      <div class="new-item">
        <button class="btn2 new-button"><fa-icon [icon]="faPlus"></fa-icon>Add new Menu Item</button>
      </div>
    </div>
  </div>
</div>
