.section {
  margin: 0 0.5em 0 0.5em;
}

@media only screen and (min-width: 600px) {
  .section {
    margin-top: 2em;
  }
}

p {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 1em;
}

.description-container {
  margin-bottom: 2em;
  margin-left: 0;
}

.section-description {
  font-size: 16px;
  margin: 2.5px 0px 2.5px 0px;
}

.rearrange {
  border-bottom: solid 0.5px #dfe0e3;
  margin-top: 5px;
  padding-left: 20px;
  overflow-x: hidden;
}

.item-container {
  .new-item {
    padding: 10%;
    border-radius: 20px;
    border: solid 0.5px #dfe0e3;
    margin-top: 20px;
    height: 80%;
    background-color:  #f0f3f5;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .new-button {
    padding: 2%;
  }
}

::ng-deep {
  .edit-section  .ql-container {
    font-size: 22px;
    font-weight: 600;
    display: inline-block;
    & p {
      font-weight: 600;
    }
  }
}

.edit-section {

  & .edit-save {
    display: inline-block;
    margin-left: 2em;
  }
}
