<ng-template  #signup let-modal>
  <div class="title">
    <h1>Create an Account to Publish for Free</h1>
  </div>
  <div class="container">
    <div class="onboard">
      <p>To publish your first menu, fill out the following information and
        click submit to share your page with the world</p>
      <button (click)="signInWithFacebook()">Sign in with Facebook</button>
      <button (click)="signInWithGoogle()">Sign in with Google</button>
      <button>Sign in with Apple</button>
      <button (click)="modal.close()">Cancel</button>
      <p class="text-center">-------Or--------</p>
      <p>Enter your email adress and we will send you a confirmation link</p>
      <input class="email" type="text" placeholder="Enter your email address">
    </div>
  </div>
</ng-template>
