<div class="item">
  <div class="first-section-wrapper">
    <div class="gravatar">
      <ngx-skeleton-loader appearance="circle" [theme]="{ width: '60px', height: '60px' }"> </ngx-skeleton-loader>
    </div>
    <div class="gravatar-title">
      <ngx-skeleton-loader class="d-inline-block float-left" [theme]="itemTitle"></ngx-skeleton-loader>
      <ngx-skeleton-loader class="d-inline-block float-right" [theme]="itemPrice"></ngx-skeleton-loader>
      <ngx-skeleton-loader class="d-block" [theme]="itemDescription"></ngx-skeleton-loader>
      <ngx-skeleton-loader class="d-block" [theme]="itemDescription"></ngx-skeleton-loader>
    </div>
  </div>
</div>
