.gravatar {
  width: 75px;
  height: 68px;
}
.gravatar-title {
  width: 100%;
  padding: 10px;
  height: 80px;
}

.item {
  margin-left: 20px;
  padding: 5px 0 25px 0;
  border-bottom: solid 0.5px #dfe0e3;
}

.first-section-wrapper {
  display: inline-flex;
}
