<app-scrolling-component
  *ngIf="menu"
  [sections]="menu.sections"
  [miniScroll]="miniScroll"
  [currentSection]="selectedSection"
  (menuEmitter)="updateMenu($event)"
></app-scrolling-component>
<div class="align">
  <app-sectionv2
    *ngFor="let section of menu.sections; let i = index"
    [section]="section"
    [sectionLists]="getSectionLists()"
    [drop]="dropFunc"
    id="{{ section._id }}"
    (menuEmitter)="update($event)"
  >
  </app-sectionv2>

  <div class="footnote">
    <quill-view-html
      class="d-inline-block"
      *ngIf="!editMode"
      [content]="menu.footnote"
      [style]="footnoteStyle"
    ></quill-view-html>
    <div class = menu-footnote>
      <p class = "textfoot">Edit foot note</p>
      <button *ngIf="!editMode && hasPermission" class="align-top desktop btn0">
        <fa-icon [icon]="editIcon" (click)="toggleEditMode()"></fa-icon>
      </button>
    </div>
    <p class="label" *ngIf="editMode">Footnote</p>
    <quill-editor *ngIf="editMode" [(ngModel)]="menu.footnote" class="editor"></quill-editor>
    <button *ngIf="editMode" class="btn1" (click)="saveFootnote()">Save</button>
  </div>
</div>
