.align {
  margin-left: 20px;
  margin-right: 20px;
}

.footnote {
  margin-top: 1em;
  padding-bottom: 4em;
  margin-bottom: -1em;
  border-top: 1px #f0f3f5 solid;
}

.label {
  color: #6d6d6d;
  font-size: 14px;
  margin: 1em 0 0 1em;
  font-weight: 500;
}

.btn1 {
  margin-top: 0.5em;
  float: right;
}
.menu-footnote {
  display: flex;
}

.textfoot {
  transform: translateY(0.35rem);
  padding-left: 0.4rem;
  padding-right: 1rem;
}

@media only screen and (max-width: 600px) {
  .textfoot {
    display: none;
  }
}

