.left {
  margin-left: 20px;
}

.section-box {
  width: 100%;
  overflow: hidden;
}

.manage-sections {
  margin: 17px 27px 17px 13px;
  padding: 8px 19px 8px 26px;
  border-radius: 18px;
  background-color: #4c28ff;
  color: white;
}
