<div *ngIf="restaurant" class="col-md-6 offset-md-3 mt-5">
  <div class="card">
    <h4 class="card-header">{{ restaurant.name + ' [' + slug + ']' }}</h4>
    <div class="card-body">
      <div>
        <button type="button" (click)="generateQr()">Generate QR</button>
        <button type="button" (click)="deleteRestaurant()">Delete this restaurant</button>
        <p><a [routerLink]="'/restaurants/' + slug">Visit Menu</a></p>
      </div>
      <form *ngIf="configureContactTracing" [formGroup]="contactTracingForm" (ngSubmit)="submitContactTracing()">
        <div class="form-group">
          <input type="checkbox" id="enable-trace" formControlName="enable_trace" />
          <label for="enable-trace">Enable Contact tracing</label>
          <input type="checkbox" id="force-trace" formControlName="force_trace" />
          <label for="force-trace">Force Contact Tracing</label>
          <input type="text" placeholder="Enter the tracing key" class="form-control" formControlName="tracing_key" />
          <button type="submit">Submit</button>
        </div>
      </form>
      <button (click)="toggleContactTracing()">
        {{ configureContactTracing ? 'cancel' : 'Configure Contact Tracing' }}
      </button>

      <div>
        <p>Select Menu</p>
        <select [(ngModel)]="selectedMenu">
          <option *ngFor="let menu of this.menuOptions()" [value]="menu">{{ menu }}</option>
        </select>
      </div>

      <form [formGroup]="menuBody">
        <div *ngIf="selectedMenu !== 'Make new menus'" class="form-group">
          <label for="csv-upload">Import menu csv</label>
          <input type="file" class="form-control-file" id="csv-append" (change)="onChange($event)" />
          <button (click)="appendCsv()">Append</button>
          <button (click)="deleteMenu()">Delete Menu</button>
        </div>
        <div *ngIf="selectedMenu === 'Make new menus'" class="form-group">
          <input type="text" formControlName="name" />
          <label for="csv-upload">Create new Menu</label>
          <input type="file" class="form-control-file" id="csv-upload" (change)="onChange($event)" />
          <button (click)="importCsv()">Import</button>
        </div>
      </form>

      <button *ngIf="!configureQrCodeLink" (click)="toggleConfigureQRCode()">Configure qrcode</button>
      <div *ngIf="configureQrCodeLink">
        <input type="text" [(ngModel)]="qrcodeLink" />
        <button (click)="configureQrCode()">Update Qr code</button>
      </div>

      <div>
        <input type="checkbox" [checked]="restaurant.can_upload" (change)="updateCanUpload()">
      </div>
    </div>
  </div>
</div>
