<div class="col-md-6 offset-md-3 mt-5">
  <div class="card">
    <h4 class="card-header">Name of Restaurant</h4>
    <div class="card-body">
      <form>
        <div class="form-group">
          <label for="exampleFormControlFile1">Import menu csv</label>
          <input type="file" class="form-control-file" id="exampleFormControlFile1" />
        </div>
      </form>
      <div>
        <button type="button" class="btn btn-primary">Generate QR</button>
        <button type="button" class="btn btn-primary">Delete this menu</button>
        <p><a></a>Visit Menu</p>
      </div>
    </div>
  </div>
</div>
