<ng-template #publish let-modal>
  <div class="title">
    <h1>Successfully Published!</h1>
  </div>

  <div class="container">
    <p>Congratulations, your menu is now live! copy the link below to view your menu and share with your customers</p>

    <input class="url" type="text" value="https://menu.pickeasy.ca/restaurants/cha-kee-restaurant" readonly />
    <button class="copy">Copy</button>

    <p>To download your QR code template, click here:</p>
    <button class="qr">
      <fa-icon [icon]="qrIcon"></fa-icon>
      Download Qr code
    </button>
  </div>

  <div class="next-step">
    <button class="btn1 done">Done</button>
  </div>
</ng-template>
