h1 {
  font-size: 30px;
  font-weight: 600;
}

h2 {
  font-size: 14px;
  padding-top: 2em;
  font-weight: 300;
}

h3 {
  font-size: 14px;
  font-weight: 300;
  padding-bottom: 2em;
}

p {
  font-size: 10px;
  font-weight: 300;
  color: #8c8b91;
}

footer {
  background: black;
  color: white;
  text-align: center;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
}

img {
  width: 150px;
  height: 53px;
}
