<div *ngIf="menu">
  <div class="header">
    <div
      [ngStyle]="{
        background: 'url(' + menu.image + ')',
        backgroundSize: '100%',
        backgroundRepeat: 'no repeat'
      }"
    >
      <div class="image"></div>
      <div class="bio">
        <h1 class="name">{{ menu.name }}</h1>
        <p class="description">{{ menu.description }}</p>
      </div>
    </div>
  </div>
  <div class="scrolling-wrapper" [ngClass]="{ sticky: !showImage }" id="wrapper">
    <button class="menu-section" *ngFor="let section of menu.sections" (click)="scrollToSection(section.name)">
      {{ section.name }}
      <p class="section-description">{{ section.description }}</p>
    </button>
  </div>
  <div class="menu-items">
    <div *ngFor="let section of menu.sections">
      <app-section [section]="section" id="{{ section.name }}"></app-section>
    </div>
  </div>
  <app-footer></app-footer>
</div>
