<app-covid-modal [menu]="menu"></app-covid-modal>
<div *ngIf="menu">
  <div class="desktop-background">
    <div class="header">
      <div
        [style.background-image]="
          'linear-gradient(to bottom, rgba(255, 255, 255, 0.52), rgba(0, 0, 0, 0.73)), url(' + menu.image + ')'
        "
        class="background-image"
      >
        <button *ngIf="!editMode && hasPermission" (click)="edit()">Edit</button>
        <button *ngIf="editMode" (click)="sendRequest()">Save</button>
        <button *ngIf="!rearrangeMode && hasPermission" (click)="rearrange()">Rearrange Sections</button>
        <button *ngIf="rearrangeMode && hasPermission" (click)="saveSections()">Save</button>
        <div class="card-overlay">
          <div *ngIf="!editMode" class="overlay-container">
            <h1>{{ menu.name }}</h1>
          </div>
          <div *ngIf="editMode" class="overlay-container">
            <input type="text" [(ngModel)]="menu.image" />
            <input type="text" [(ngModel)]="menu.name" />
          </div>
        </div>
        <div class="bio">
          <quill-view-html
            *ngIf="!editMode"
            [content]="injectHeaderStyle(menu.description)"
            theme="snow"
          ></quill-view-html>
          <quill-editor *ngIf="editMode" [(ngModel)]="menu.description"></quill-editor>
        </div>
      </div>
    </div>
    <div class="scrolling-wrapper sticky-top" [ngClass]="{ sticky: !showImage }" id="wrapper">
      <!--      <div class="desktop-header">-->
      <!--        <h1><img class="logo" src="assets/group-2.png" /></h1>-->
      <!--      </div>-->
      <!--      <div class="desktop-header">-->
      <!--        <h1 class="desktop-name">{{ menu.name }}</h1>-->
      <!--      </div>-->
      <button class="menu-section" *ngFor="let section of menu.sections" (click)="scrollToSection(section.name)">
        {{ section.name }}
        <p class="section-description">{{ section.subtitle }}</p>
      </button>
    </div>
    <div
      [ngStyle]="{
        background: 'url(' + menu.image + ')',
        backgroundSize: '100%',
        backgroundRepeat: 'no repeat',
        'padding-top': '2 em'
      }"
    >
      <div class="desktop-background">
        <div class="desktop-description">
          <button *ngIf="!editMode && hasPermission" (click)="edit()">Edit</button>
          <button *ngIf="editMode" (click)="sendRequest()">Save</button>
          <h1 class="desc">{{ menu.name }}</h1>
          <div class="quill-view">
            <quill-view-html
              *ngIf="!editMode"
              [content]="injectHeaderStyle(menu.description)"
              theme="snow"
            ></quill-view-html>
            <quill-editor *ngIf="editMode" [(ngModel)]="menu.description"></quill-editor>
          </div>
        </div>
        <div class="menu-items section-background">
          <div cdkDropList [cdkDropListData]="menu.sections" (cdkDropListDropped)="drop($event)">
            <div
              class="section-box"
              *ngFor="let section of menu.sections; let i = index"
              cdkDrag
              [cdkDragDisabled]="!rearrangeMode"
            >
              <app-section
                [rearrangeMode]="rearrangeMode"
                [hasPermission]="hasPermission"
                [section]="section"
                [slug]="slug"
                id="{{ section.name }}"
              >
              </app-section>
              <button (click)="newSection(i)">Add new Section</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>
