.menu-items {
  min-height: 100vh;
  margin-left: 20px;
  border-radius: 0px 0px 30px 30px;
}

.background-image {
  background-size: 100%;
  background-repeat: no-repeat;
}

.header {
  background: #ffffff;
  border-width: thin;
  border-radius: 31px;
  transition: all 0.3s;
  box-shadow: 0 -20px 60px 0 rgba(101, 30, 27, 0.22);

  .bio {
    border-radius: 20px 20px 0 0;
    background: #ffffff;
    padding: 20px 0;

    .description {
      margin-left: 20px;
      font-weight: 300;
      color: #8c8b91;
    }
  }
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  background: #ffffff;

  &.sticky {
    width: 100%;
    overflow-y: hidden;
    overflow: hidden;

    .menu-section {
      font-size: 18px;
      margin: 0 2px 0 0;
      padding: 9px 17px;
    }

    .menu-description {
      font-size: 12px;
    }
  }

  .menu-section {
    padding: 14px 20px;
    margin: 20px 6px 20px 0;
    border: none;
    font-size: 24px;
    font-weight: 600;
    color: #1a1824;
    transition: all 0.3s;
    background-color: white;
    cursor: pointer;

    .section-description {
      font-size: 14px;
      font-weight: 300;
    }

    &:focus {
      outline: 0;
    }
  }

  .button-small {
    font-size: 18px;
    padding: 7px 20px;
  }

  .selected {
    opacity: 1;
    color: black;
  }
}

.card-overlay {
  height: 250px;
  width: 100%;
  display: flex;

  .overlay-container {
    align-self: flex-end;
    color: white;
    margin-left: 18px;
    margin-bottom: 10px;

    .name {
      font-weight: 600;
    }
  }
}

.desktop-header {
  display: inline-block;
}

.desktopSection {
  background: white;
  margin: 3em 3em 1em 3em;
  border-radius: 40px;
}

.desktop-description {
  background: white;
  margin: 4em 3em 1em 3em;
  border-radius: 40px;
  padding: 2em;
  width: 50%;
  .desc {
    color: #1a1824;
    font-size: 36px;
    font-weight: 550;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  .paragraph {
    font-size: 14px;
    color: #8c8b91;
    font-weight: 300;
  }
}
