<app-covid-modal [menu]="menu"></app-covid-modal>
<div *ngIf="menu">
  <div class="desktop-background">
    <app-mobile-image
      class="mobile"
      [name]="menu.name"
      [description]="menu.description"
      [image]="menu.image"
    ></app-mobile-image>
    <app-scrolling-component
      class="mobile"
      [sections]="menu.sections"
      [miniScroll]="miniScroll"
    ></app-scrolling-component>
    <div
      [ngStyle]="{
        background: 'url(' + menu.image + ')',
        backgroundSize: '100%',
        backgroundRepeat: 'no repeat'
      }"
      class="desktop-image"
    >
      <div class="desktop-background">
        <app-change-background
          [hasPermission]="hasPermission"
          [image]="menu.image"
          (imageEmitter)="setValue($event)"
        ></app-change-background>
        <app-menu-name
          class="desktop"
          (menuEmitter)="setValue($event)"
          [hasPermission]="hasPermission"
          [name]="menu.name"
        ></app-menu-name>
        <div class="menu-items section-background">
          <app-menu-details
            class="desktop"
            [description]="menu.description"
            [hasPermission]="hasPermission"
            (menuEmitter)="setValue($event)"
          ></app-menu-details>
          <button class="left desktop" *ngIf="!rearrangeMode && hasPermission" (click)="rearrange()">
            Rearrange Sections
          </button>
          <button class="left desktop" *ngIf="rearrangeMode && hasPermission" (click)="saveSections()">Save</button>
          <app-scrolling-component
            class="desktop"
            [sections]="menu.sections"
            [miniScroll]="miniScroll"
          ></app-scrolling-component>
          <div cdkDropList [cdkDropListData]="menu.sections" (cdkDropListDropped)="drop($event)">
            <div
              class="section-box"
              *ngFor="let section of menu.sections; let i = index"
              cdkDrag
              [cdkDragDisabled]="!rearrangeMode"
            >
              <app-section
                [rearrangeMode]="rearrangeMode"
                [hasPermission]="hasPermission"
                [section]="section"
                [slug]="slug"
                id="{{ section._id }}"
              >
              </app-section>
              <button class="left" *ngIf="!rearrangeMode && hasPermission" (click)="newSection(i)">
                Add new Section
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>
